<!DOCTYPE html>
<html>
    <script>
        function incrementDay() {
            var year = parseInt(document.getElementById('input_year').value);
            var month = parseInt(document.getElementById('input_month').value) - 1; // JavaScript months are 0-11
            var day = parseInt(document.getElementById('input_day').value);
        
            var date = new Date(year, month, day);
            date.setDate(date.getDate() + 1); // Increment the day
        
            document.getElementById('input_year').value = date.getFullYear();
            document.getElementById('input_month').value = ('0' + (date.getMonth() + 1)).slice(-2); // Adjust for zero-based months
            document.getElementById('input_day').value = ('0' + date.getDate()).slice(-2);
        
            document.getElementById('dateForm').submit(); // Submit the form with the new date
        }

        function decrementDay() {
            var year = parseInt(document.getElementById('input_year').value);
            var month = parseInt(document.getElementById('input_month').value) - 1; // JavaScript months are 0-11
            var day = parseInt(document.getElementById('input_day').value);
        
            var date = new Date(year, month, day);
            date.setDate(date.getDate() - 1); // Decrement the day
        
            document.getElementById('input_year').value = date.getFullYear();
            document.getElementById('input_month').value = ('0' + (date.getMonth() + 1)).slice(-2); // Adjust for zero-based months
            document.getElementById('input_day').value = ('0' + date.getDate()).slice(-2);
        
            document.getElementById('dateForm').submit(); // Submit the form with the new date
        }
    </script>
<head>
    <title>Get Currency</title>
    <style>
        .data { border-collapse: collapse; width: 50%; }
        .data, .data th, .data td { border: 1px solid black; }
        .right-align { text-align: right; }
        .left-align { text-align: left; }
    </style>
</head>
<body>
    <div class="left-align">
        <form action="/update_dataframes" method="post" id="dateForm">
            <button type="button" onclick="decrementDay()">←</button>
            <input type="text" name="input_year" id="input_year" placeholder="Enter year here" value="{{ input_year or '' }}">
            <input type="text" name="input_month" id="input_month" placeholder="Enter month here" value="{{ input_month or '' }}">
            <input type="text" name="input_day" id="input_day" placeholder="Enter day here" value="{{ input_day or '' }}">
            <button type="button" onclick="incrementDay()">→</button>
            <button type="submit">Get Data</button>
        </form>
    </div>
    <h1>{{titles[0]}}</h1>
    {% for table in tables %}
        <h2>{{titles[loop.index]}}</h2>
        {{ table|safe }}
    {% endfor %}
</body>
</html>
