<!DOCTYPE html>
<html>
<head>
    <title>Get Currency</title>
    <style>
        .data { border-collapse: collapse; width: 50%; }
        .data, .data th, .data td { border: 1px solid black; }
        .right-align { text-align: right; }
        .left-align { text-align: left; }
    </style>
</head>
<body>
    <div class="left-align">
        <form action="/update_dataframes" method="post">
            <input type="text" name="input_year" value="2024" placeholder="Enter year here">
            <input type="text" name="input_month" value="01" placeholder="Enter month here">
            <input type="text" name="input_day" value="15" placeholder="Enter day here">
            <button type="submit">Get Data</button>
        </form>
    </div>
    <h1>{{titles[0]}}</h1>
    {% for table in tables %}
        <h2>{{titles[loop.index]}}</h2>
        {{ table|safe }}
    {% endfor %}
</body>
</html>
